@model AddSmoothieModel

@{
    ViewBag.Title = "Add your new Smoothie";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="@Model.SmoothieName" class="form-label">Smoothie Name</label>
                <input asp-for="@Model.SmoothieName" class="form-control" aria-required="true" />
                <span asp-validation-for="SmoothieName" class="text-danger"></span>

                <label asp-for="@Model.Price" class="form-label">Smoothie Price</label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" />
                <span asp-validation-for="Price" class="text-danger"></span>

                <label asp-for="@Model.Size" class="form-label">Smoothie Size</label>
                <input asp-for="@Model.Size" class="form-control" aria-required="true" />
                <span asp-validation-for="Size" class="text-danger"></span>

                <label asp-for="@Model.Calories" class="form-label">Smoothie Calories</label>
                <input asp-for="@Model.Calories" class="form-control" aria-required="true" />
                <span asp-validation-for="Calories" class="text-danger"></span>

                <label asp-for="@Model.IngredientsIds" class="form-label">Add Ingredients for the Smoothie</label>
                <br>
                <select multiple="multiple" class="multi-select" id="@Model.IngredientsIds" asp-for="@Model.IngredientsIds" asp-items="ViewBag.Ingredients" class="form-control">
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <option value="@ingredient.IngredientId">@ingredient.IngredientName</option>
                    }
                </select>
                <span asp-validation-for="IngredientsIds" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add Smoothie" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}