@model DetailsProductUserModel

@{
    ViewBag.Title = $"Product User - {Model.ApplicationUserId}";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
   <div class="card col-4" style="width: 20rem; ">
       <div class="card-body">
            <input type="hidden" asp-for="@Model.ProductUserId" />
          <h5 class="card-title mt-1">Application User ID: @Model.ApplicationUserId</h5>
       </div>
    </div>
</div>

@foreach (var order in @Model.Menus)
{
    <div class="text-center row">
        <div class="card col-4" style="width: 20rem; ">
            <input type="hidden" asp-for="@Model.ProductUserId" />
            <div class="card-body">

                <p class="mb-0">Customer ID: @order.MenuId</p>
                <p class="mb-0">First Name: @order.MenuName</p>
            </div>
        </div>
    </div>
}
