@using SmoothieShop.Data.Data.Entites
@model IEnumerable<DetailsMenuModel>

<h2>Menus for Product User</h2>

<table class="table">
    <thead>
        <tr>
            <th>Menu Id</th>
            <th>Menu Name</th>
            <th>Product User Id</th>
            <th>Orders Count </th>
            <th>Smoothies Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menu in Model)
        {
            <tr>
                <td>@menu.MenuId</td>
                <td>@menu.MenuName</td>
                <td>@menu.ProductUserId</td>
                <td>@menu.OrdersCount</td>
                <td>@menu.SmoothiesCount</td>
                <td>
                    @Html.ActionLink("View Details", "DetailsMenu", "Menu", new { id = menu.MenuId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
