@model AddIngredientModel

@{
    ViewBag.Title = "Add your new Ingredient";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="@Model.IngredientName" class="form-label">Ingredient Name</label>
                <input asp-for="@Model.IngredientName" class="form-control" aria-required="true" />
                <span asp-validation-for="IngredientName" class="text-danger"></span>

                <label asp-for="@Model.IngredientInfo" class="form-label">Ingredient Information</label>
                <textarea asp-for="@Model.IngredientInfo" class="form-control" aria-required="true" />
                <span asp-validation-for="IngredientInfo" class="text-danger"></span>

                <label asp-for="@Model.Calories" class="form-label">Ingredient Calories Per 100g</label>
                <input asp-for="@Model.Calories" class="form-control" aria-required="true" />
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>       
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add Ingredient" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}