@model DetailsIngredientModel

@{
    ViewBag.Title = $"Ingredient - {Model.IngredientName}";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
   <div class="card col-4" style="width: 20rem; ">
       <div class="card-body">
            <input type="hidden" asp-for="@Model.IngredientId" />
          <h5 class="card-title mt-1">Ingredient ID: @Model.IngredientId</h5>
          <p class="mb-0">Ingredient Name: @Model.IngredientName</p>
          <p class="mb-0">Ingredient Information: @Model.IngredientInfo</p>
            <p class="mb-0">Ingredient Calories Per 100g: @Model.Calories</p>
       </div>
    </div>
</div>

@foreach (var smoothie in @Model.Smoothies)
{
    <div class="text-center row">
        <div class="card col-4" style="width: 20rem; ">
            <input type="hidden" asp-for="@Model.Smoothies" />
            <div class="card-body">

                <p class="mb-0">Title: @smoothie.SmoothieId</p>
                <p class="mb-0">Description: @smoothie.SmoothieName</p>
                <p class="mb-0">Trip: @smoothie.Calories</p>

            </div>
        </div>
    </div>
}

